# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1) Python
2) R
3) Java
4) SQL

Some of the commonly used libraries used by Data Scientists include:
1) NumPy
2) Tensorflow
3) SciPy

|Data Science Tools|
|:----------------:|
|R Stuio|
|Jupyter|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
print(hours)

3.3333333333333335

**Objectives:**
- Create a code cell to multiply and add numbers
- Create a code cell to convert minutes to hours
- Insert a markdown cell to list Objectives

## Author 
Francis Bojczuk